/* body {
  background: url(https://img.freepik.com/free-photo/dark-cloth-with-plate-waffles_23-2148340374.jpg?size=626&ext=jpg&ga=GA1.1.887355794.1688685042&semt=ais) no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

